{% extends 'base.html' %}


{% block content %}

<style>
.jumbotron {
  background-image: url("https://www.visitsingapore.com/jcr:content/par-carousel/carousel_with_video/carousel/item_1.thumbnail.carousel-img.2800.1000.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

</style>

<div class="jumbotron">
  <h1 class="display-5">SG Travel Planner</h1>
  <p class="lead">This part is the introduction to the features that the travel planner can do and description to make it more marketable. we need some creativity on the content</p>
  <hr class="my-4">
  <p>Make the best out of your trip in Singapore!</p>
  <a class="btn btn-primary btn-lg" href="new" role="button">Start Now!</a>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 bg-light">
        <h2>Attractions</h2>
        <p><b>FOR DISPLAY ONLY!!!</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4 bg-light">
        <h2>Promotions</h2>
        <p><b>FOR DISPLAY ONLY!!!</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4 bg-light">
        <h2>Events</h2>
        <p><b>FOR DISPLAY ONLY!!!</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.          
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div>
{% endblock %}